#include("/WEB-INF/view/common/qui/header.html")

<!-- 树组件start -->
<script type="text/javascript" src="/libs/js/tree/ztree/ztree.js"></script>
<link type="text/css" rel="stylesheet" href="/libs/js/tree/ztree/ztree.css"></link>
<!-- 树组件end -->

<!-- 树形下拉框start -->
<script type="text/javascript" src="/libs/js/form/selectTree.js"></script>
<!-- 树形下拉框end -->

<!-- 表单验证start -->
<script src="/libs/js/form/validationRule.js" type="text/javascript"></script>
<script src="/libs/js/form/validation.js" type="text/javascript"></script>
<!-- 表单验证end -->



</head>
<body>
<div class="box1" id="formContent" whiteBg="true">
	<form id="myFormId" onsubmit="return false;" method="post">
	<table class="tableStyle" formMode="transparent">
		<input type="hidden" name="user.ID" value="#(user.ID ??)" />
		<tr>
			<td width="150">用户代码：</td><td><input type="text" name="user.USER_CODE" value="#(user.USER_CODE ??)" class="validate[required,custom[noSpecialCaracters]]" watermark="请输入英文或数字"/><span class="star">*</span></td>
		</tr>
		<tr>
			<td>密码：</td><td><input type="password" name="user.PASSWD" id="pwd" value="#(user.PASSWD ??)" class="validate[required,length[6,11],custom[noSpecialCaracters]]"/><span class="star">*</span> </td>
		</tr>
		<tr>
			<td>密码确认：</td><td><input type="password" class="validate[required,confirm[pwd]]" value="#(user.PASSWD ??)"/><span class="star">*</span></td>
		</tr>
		<tr>
			<td width="150">用户名（显示名）：</td><td><input type="text" name="user.USER_NAME" value="#(user.USER_NAME ??)" class="validate[required,custom[chinese],length[0,20]]"/><span class="star">*</span></td>
		</tr>
		<tr>
			<td>角色：</td>
			<td>
			<div class="selectTree validate[required]" name="user.ROLE_ID" selectedValue="#(user.ROLE_ID ??)" url="/user/roleList"></div><span class="star">*</span></td>
		</tr>
		<tr>
			<td>备注：</td><td><textarea name="user.REMARK">#(user.REMARK ??)</textarea></td>
		</tr>
		<tr>
			<td colspan="2">
				<button onclick="submitHandler()">提交</button>
				<input type="button" value="取消" onclick='top.Dialog.close()'/>
			</td>
		</tr>
	</table>
	</form>
</div>
<!-- 异步提交start -->
<script type="text/javascript">
function submitHandler() {
	var valid = $('#myFormId').validationEngine({returnIsValid: true});
	if(valid){
		$.post("/user/save", $('#myFormId').serializeArray(), function(data) {
			top.Dialog.alert(data.message, function(){
            	if(!data.content){		            		
	            	closeWin();
            	} else {
            		top.Dialog.alert(data.content);
            	}
            })
		});

	 }
	
}

function initComplete(){
    //初始化
	//selectUnit(document.getElementById("id_unit_input"));
}

//重置
function closeWin(){
	var update = false;
	var isupdate = '#(user ??)';
	if(isupdate != ''){
		update = true;
	}else{
		update = false;
	}
	//刷新数据
	top.frmright.refresh(update);
	//关闭窗口
	top.Dialog.close();
}
/**
function selectUnit(e) {
	var id = $(e).attr("relvalue") || $(e).attr("selectedvalue");
	var url = "/user/officeList?unitId="+id;

	$.post(url, function(data){
		 if(data.treeNodes.length != 0) {
		 	$("#id_office_input").data("data", data); 	
		 } else {
			 $("#id_office_input").data("data", null);
		 }
		 $("#id_office_input").render();
		 
	});
	
	
	//console.log(url+"?unitId="+$(e).attr("relvalue"))
}**/
</script>
<!-- 异步提交end -->	
</body>	
</html>